// style for auth pages
.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 767px) {
	ion-card {
	  width: 600px;
	  margin: auto;
	}
}
ion-card {
	--background: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	overflow: scroll;
}
.input {
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(210, 210, 210);
	border-radius: 9px;
	font-size: 0.9em !important;
  padding-left: 10px !important;
}
.otpinput {
	letter-spacing: 30px;
	-webkit-padding-end: 0;
	--padding-end: 0;
	font-size: 30px;
	border: none;
	background: white;
}

.white {
	color: white;
}

.small {
	font-size: 13px;
	a {
		text-decoration: unset !important;
	}
}
.button-color {
	background-color: var(--ion-color-mytheme);
}
.logo {
	width: 1.25em !important;
}
.grid {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.img-logo {
	height: 120px;
	width: 120px;
}
.fire-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}
.bold {
	font-weight: bold;
}
.block {
	display: block;
}
.transition {
	background: linear-gradient(to right, #f57c00 14%, #ffca00 96%);
  border-radius: 5px;
}
.btn-color {
	color: #ffa000;
}
.error {
	color: red;
	text-align: center;
	display: block;
	font-weight: bold;
}
