<ion-content no-padding>
	<div class="main">
		<ion-card no-margin>
			<form [formGroup]="slideOneForm">
				<ion-card-content>
                    <ion-row class="row">
                        <div class="fire-logo">
                        <ion-text padding>
                            <h2 no-margin margin-vertical text-center>{{textLogin}}</h2>
                        </ion-text>
                        </div>
                    </ion-row>
                    <ion-row *ngIf="showOTPInput">
                      <ion-col>
                          <ion-input clearInput placeholder="Nombre" class="input" padding-horizontal
                          clear-input="true" formControlName="firstname"></ion-input>
                          <div *ngIf="(slideOneForm.controls.firstname.dirty || slideOneForm.controls.firstname.touched) && slideOneForm.controls.firstname.errors" class="errors">
                              <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.firstname.errors?.required">Nombre requerido...</ion-label>
                              <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.firstname.errors?.minlength">El nombre debe tener 6 caracteres...</ion-label>
                          </div>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="showOTPInput">
                      <ion-col>
                          <ion-input clearInput placeholder="Apellidos" class="input" padding-horizontal
                          clear-input="true" formControlName="lastname"></ion-input>
                          <div *ngIf="(slideOneForm.controls.lastname.dirty || slideOneForm.controls.lastname.touched) && slideOneForm.controls.lastname.errors" class="errors">
                              <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.lastname.errors?.required">Apellidos requeridos...</ion-label>
                              <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.lastname.errors?.minlength">Los apellidos deben tener 6 caracteres...</ion-label>
                          </div>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="showOTPInput">
                      <ion-col>
                          <!--<ion-input clearInput type="date" placeholder="Fecha de nacimiento" class="input" padding-horizontal
                          clear-input="true" formControlName="birthdate"></ion-input>-->
                          <ion-datetime placeholder="Fecha de nacimiento"  displayFormat="YYYY-MM-DD" value="" class="input" padding-horizontal
                            clear-input="true" formControlName="birthdate"></ion-datetime>
                          <div *ngIf="(slideOneForm.controls.birthdate.dirty || slideOneForm.controls.birthdate.touched) && slideOneForm.controls.birthdate.errors" class="errors">
                              <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.birthdate.errors?.required">Fecha de nacimiento requerida...</ion-label>
                          </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-input clearInput type="email" placeholder="Correo" class="input" padding-horizontal
                            clear-input="true" formControlName="email"></ion-input>
                            <div *ngIf="(slideOneForm.controls.email.dirty || slideOneForm.controls.email.touched) && slideOneForm.controls.email.errors" class="errors">
                                <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.email.errors?.required">Correo requerido...</ion-label>
                                <ion-label text-wrap color="danger" *ngIf="!slideOneForm.controls.email.errors?.required && slideOneForm.controls.email.errors?.fail">Correo invalido..</ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-input clearInput type="password" placeholder="Contraseña" class="input" padding-horizontal
                            clear-input="true" formControlName="password"></ion-input>
                            <div *ngIf="(slideOneForm.controls.password.dirty || slideOneForm.controls.password.touched) && slideOneForm.controls.password.errors" class="errors">
                                <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.password.errors?.required">Contraseña requerida...</ion-label>
                                <ion-label text-wrap color="danger" *ngIf="slideOneForm.controls.password.errors?.minlength">La contraseña debe tener 6 caracteres...</ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button *ngIf="showOTPInput" expand="block" (click)="register()" color="undefined" class="transition">
                                <strong class="white">Registrar</strong>
                            </ion-button>
                            <ion-button *ngIf="!showOTPInput" expand="block" (click)="login()" color="undefined" class="transition">
                                <strong class="white">Ingresar</strong>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="!showOTPInput">
                        <ion-col>
                            <ion-text text-center class="block bold" (click)="prelogin(true)">Registrarse</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="showOTPInput">
                      <ion-col>
                          <ion-text text-center class="block bold" (click)="prelogin(false)">Iniciar sesión</ion-text>
                      </ion-col>
                  </ion-row>
				</ion-card-content>
			</form>
		</ion-card>
	</div>
</ion-content>
