<ion-header [translucent]="true" class="transition">
  <ion-toolbar color="toolbarhome">
    <ion-title>
      Lista de carros
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" routerDirection="root">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="toolbarhome">
    <ion-searchbar
    placeholder="Buscar por marca..."
    showcancelbutton=""
    [(ngModel)]="filterTerm" animated="true"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar color="toolbarhome">
    <ion-list >
      <ion-item lines="none" color="toolbarhome">
        <ion-label>Modelo</ion-label>
        <ion-note slot="end" color="primary" class="note-bar">Marca</ion-note>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let item of dataList | filter:filterTerm">
      <ion-label>{{item.nombreModelo}}</ion-label>
      <ion-note slot="end" color="primary">{{item.nombreMarca}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
